*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

h3 {
    font-size: 38px;
}

h4 {
    color: blueviolet;
}

img {
    position: static !important;
    inset: unset !important;
    object-fit: contain;
}

main {
    padding: 10vh 5vw 0;
}

header {
    text-align: right;
    position: relative;
    
    section {
        position: absolute;
        right: 0;
    }

    input {
        font-size: 20px;
        border-radius: 40px;
        padding: 16px 27px;
        border: 1px solid blue;
    }

    
    ul {
        list-style-type: none;
        margin-top: 16px;
        text-align: left;
        border-radius: 13px;
        background-color: palevioletred;
        max-width: 300px;
        margin-left: auto;

        li {
            font-size: 20px;
            font-weight: bold;
            padding: 16px 30px;
            
            &:hover {
                background-color: wheat;
            }
            
            &:first-child {
                border-top-left-radius: 13px;
                border-top-right-radius: 13px;
            }
            
            &:last-child {
                border-bottom-left-radius: 13px;
                border-bottom-right-radius: 13px;
            }
        }
    }
}

section.content {
    margin-top: 20px;
    border-radius: 13px;
    padding: 20px;
}

.container {
    &Hourly {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10%;
        
        > * {
            flex-basis: 50%;
        }

        .card {
            max-width: 500px;
        }
    }

    &Daily {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 35px;
        row-gap: 50px;
    }
}

// card component
.card {
    background-color: aliceblue;
    flex-basis: calc(33.3% - 70px / 3);
    padding: 23px 30px;
    border-radius: 13px;

    &Header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        > * {
            flex-shrink: 0;
        }
    }

    &Footer {
        display: flex;
        justify-content: space-between;
        gap: max(32px, 10%);
        margin-top: 20px;

        &ImgWrapper {
            aspect-ratio: 1;
            flex-basis: clamp(100px, 50%, 150px);
        }

        &Details {
            flex-shrink: 0;
            align-self: center;
        }
    }
}